config.json
salary.db
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/
build/
dist/
main.spec
design/
coin.png
make_icon_final.py
channel.txt
imap_lastcheck.json
imap_senders.json
runmain.bat
*.bat
channel.py
